.accordeon {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.accordeon__item {

}

.accordeon-item {

}

.accordeon-item__title {
	position: relative;
	z-index: 2;
	padding: 15px;

	background-color: #F2F2F2;
	border-radius: var(--brs6);
	cursor: pointer;
}

.accordeon-item__title.toggle {
	background-color: var(--color-main);
	color: #fff;
}

.accordeon-item__descr {
	position: relative;
	z-index: 1;

	opacity: 0;
	transform: scaleY(0);
	height: 0;
	padding-top: 0;
	padding-bottom: 0;

	background-color: #fff;

	transform-origin: top;
	transition: opacity .1s, height .25s, transform .25s;

	&.toggle {
		opacity: 1;
		transform: scaleY(1);
		padding: 25px 15px;
		height: auto;
	}

	.catalog {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

