.breadcrumbs {
	margin-top: -18px;
	margin-bottom: 20px;

	font-size: 14px;
	color: var(--more-than-a-week);

	@media screen and (max-width: $break_md) {
		font-size: 13px;
	}

	@media screen and (max-width: $break_sm) {
		margin-top: 20px;
	}

	a, a span {
		color: var(--more-than-a-week);
		text-decoration: none;
	}

	a:not([class]) {
		text-decoration: none;
	}

	span {
		color: var(--color-text);
	}
}