.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	padding: 9px 40px;

	color: #fff;
	font-size: 16px;
	line-height: 1.35;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	text-decoration: none;

	background-color: var(--color-main);
	border: none;
	border-radius: var(--brs6);

	transition: background-color .25s, color .25s, transform .25s;
	cursor: pointer;

	@media screen and (max-width: $break_sm) {
		padding: 13px 60px;
	}
}

.btn:hover {
	transform: translateY(-2px);
	background-color: var(--color-main-active);
}

.btn:disabled {
	opacity: 0.4;
}

.btn--light {
	background-color: #fff;
	color: var(--more-than-a-week);

	&:hover {
		color: var(--color-text);
		background-color: var(--color-border);
	}
}

.btn-arrow {
	display: inline-block;

	height: 48px;
	width: 150px;
	
	color: #fff;

	background-color: #2C2C2C;
	border: none;

	background-image: url('../img/arrow-white.svg');
	background-size: 45px 16px;
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;

	transition: .25s;

	&:hover {
		background-color: #FF7043;
	}
}