.catalog-menu {
    background-color: var(--color-white);
    border-radius: var(--brs6);

    .catalog-menu__btn {
        min-height: 57px;
        width: 100%;
        background-color: var(--color-accent);
        text-align: left;
        cursor: initial;
    }
}

.catalog-menu__btn {}

.burger__menu-btn {}

.js-burger {}

.catalog-menu__list {
    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;
    background-color: #fff;

    @media (max-width: $break_lg) {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media (max-width: $break_sm) {
        padding: 0;
    }

    @media (max-width: $break_sm) {
        background-color: transparent;
    }

    .header-box__catalog-menu & {
        position: absolute;
        top: 110%;
        z-index: 2;
        min-width: 300px;
        border-radius: var(--brs6);

        opacity: 0;
        transform: scaleY(0);
        height: 0;

        transition: opacity .1s, height .25s, transform .25s;

        &.toggle {
            transform: scaleY(1);
            transform-origin: top;
            opacity: 1;
            height: auto;
        }
    }
}

.catalog-menu__item, .catalog-menu__list>li {
    &:first-child {
        margin-top: 20px;

        @media (max-width: $break_sm) {
            margin-top: 0;
        }
    }

    &:last-child {
        margin-bottom: 20px;

        @media (max-width: $break_sm) {
            margin-bottom: 0;
        }
    }
}

.catalog-menu__link, .catalog-menu__list>li>a {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    min-height: 57px;

    font-size: 15px;

    transition: .25s;

    &:hover {
        color: var(--color-main);
    }

    @media (max-width: $break_lg) {
        gap: 5px;
    }

    &:not(:first-child) {
        border-top: 1px solid var(--color-border);
    }

    .toggle & {
        // color: var(--color-main);

        @media (max-width: $break_sm) {
            color: var(--color-white);
        }
    }

    .toggle-menu & {

        position: relative;

        // &::after {
        //     position: absolute;
        //     content: '';
        //     top: 50%;
        //     right: 0;
        //     transform: translateY(-50%);

        //     width: 6px;
        //     height: 10px;
        //     object-fit: cover;

        //     // background-image: url('../img/icons/arrow.svg');
        //     mask-image: url('../img/icons/arrow.svg');
        //     background-color: red;

        //     background-size: cover;
        //     background-position: center;
        //     // background-position: center right;
        // }
    }
}

.catalog-menu__icon, .catalog-menu__list>li>a>svg:nth-child(1) {
    width: 36px;
    height: 26px;


    @media (max-width: $break_lg) {
        height: 25px;
    }
}

.catalog-menu__text, .catalog-menu__list>li>a>span {
    @media (max-width: $break_md) {
        font-size: 15px;
        text-transform: uppercase;
    }

    .toggle-menu & {
        padding-right: 20px;
    }
}

.catalog-menu__toggle, .catalog-menu__list>li>a>svg:nth-child(2) {
    padding: 2px;

    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    height: 20px;
    width: 20px;
    z-index: 5;

    background-color: var(--color-white);
    border-radius: var(--brs6);

    @media (max-width: $break_sm) {
        background-color: transparent;
    }

    // color: #000;
}

.catalog-menu__sub-menu, .catalog-menu__list li>ul {
    // margin-top: -10px;
    padding-left: 47px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    opacity: 0;
    transform: scaleY(0);
    height: 0;

    transition: opacity .1s, height .25s, transform .25s;

    .mobile-menu & {
        position: relative;
        padding-left: 40px;

        &.toggle {
            padding-bottom: 10px;
        }
    }

    &.toggle {
        transform: scaleY(1);
        transform-origin: top;
        opacity: 1;
        height: auto;
    }
}

.catalog-menu__sub-menu-item {}

.catalog-menu__sub-menu-link, .catalog-menu__list li>ul>li>a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 14px;

    transition: .25s;

    &:hover {
        color: var(--color-main);
    }
}

