.collections {
    margin-bottom: 53px;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width: $break_md) {
        margin-bottom: 22px;
    }

    a {
        padding: 8px 20px;
        display: inline-flex;
        background-color: #E9EDF1;
        border-radius: var(--brs6);

        font-size: 15px;
        text-decoration: none;

        transition: background-color .25s, color .25s, transform .25s;

        &:hover {
            transform: translateY(-2px);
        }
    }
}