.catalog__filter {
}
.filter {
}
.filter__form {
}
.filter__fieldset {
    padding: 0;
    border: none;
    margin-bottom: 30px;

    .swiper {
        max-height: 200px;
    }
}



.filter__legend {
    margin-bottom: 18px;

    font-size: 16px;
    font-weight: 600;
}

.filter__box-checkbox {
    padding-bottom: 10px;

    & .show-all {
        display: block;

        font-size: 16px;
        color: var(--color-main);

        // padding-top: 10px;
        // background-color: #fff;

        clear: both;
        cursor: pointer;

        &.toggle {

        }
    }

    .ss-wrapper {
        left: -18px;
    }

    .ss-content {
        // padding-bottom: 15px;
    }
}



.filter__label {
    display: block;

    font-size: 16px;
    cursor: pointer;
    user-select: none;

    &:not(:last-child) {
        margin-bottom: 14px;
    }

    &.toggle {
        display: none;
    }
}

.filter__input-text {
    padding: 10px 14px;
    font-size: 16px;

    border: 1px solid #CBCBCB;
    border-radius: var(--brs6);

    &::placeholder {
        color: var(--more-than-a-week);
    }
}

.filter__checkbox-title {
    position: relative;
    padding-left: 30px;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 1px;

        width: 18px;
        height: 18px;

        border: 2px solid #CBCBCB;
        border-radius: 3px;

        transition: .25s;
    }

    &::after {
        position: absolute;
        top: 4px;
        left: 3px;

        width: 12px;
        height: 12px;

        background-color: var(--color-main);
        border-radius: 3px;

        transition: .25s;
    }
}

.js-element-count {
    margin-left: 5px;
    color: var(--more-than-a-week);
    font-size: 14px;
}

.filter__checkbox {
    position: fixed;
	transform: scale(0);

    &:checked ~ .filter__checkbox-title::after {
        content: '';
    }

    &:hover ~ .filter__checkbox-title::before,
    &:focus ~ .filter__checkbox-title::before {
        border: 2px solid var(--color-text);
    }
}