.footer {
	margin-top: auto;
	padding-top: 6.8rem;
	padding-bottom: 9rem;
	color: var(--color-white);
	background-color: var(--color-main);

	font-size: 1.5rem;

	@media screen and (max-width: $break_xs) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	@media (max-width: $break_xs) {

		font-size: 1.3rem;
	}
}

.footer__container {}

.footer__row {
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: $break_md) {
		flex-wrap: wrap;
	}
}

.footer__col {
	display: flex;
	flex-direction: column;
	flex-basis: auto;
	flex-grow: 1;

	@media screen and (max-width: $break_md) {
		flex-basis: 50%;
	}

	@media screen and (max-width: $break_xs) {
		// flex-basis: 100%;

		&:not(:last-child) {
			margin-bottom: 5rem;

			@media (max-width: $break_xs) {
				margin-bottom: 2.4rem;
			}
		}
	}
}

.footer__col--menu {
	@media screen and (max-width: $break_md) {
		order: 2;
	}

	@media screen and (max-width: $break_xs) {
		// order: initial;
	}
}

.footer__col--logo {
	@media (max-width: $break_xs) {
		border-bottom: 1px solid #488ccc;
	}
}

.footer__col--contacts {
	flex-grow: 2;

	@media screen and (max-width: $break_lg) {
		flex-grow: 1;
	}

	@media screen and (max-width: $break_md) {
		margin-bottom: 8rem;
	}

	@media screen and (max-width: $break_xs) {
		margin-bottom: 0;
		border-bottom: 1px solid #488ccc;
	}
}

.footer__logo {
	margin-bottom: 1rem;

	@media (max-width: $break_xs) {
		margin-bottom: 2rem;
	}

	img {
		height: 7.2rem;
		margin-top: -1rem;

		@media (max-width: $break_sm) {
			height: 48px;
		}
	}
}

.footer__copy {
	max-width: 15rem;

	font-size: 1.3rem;
	color: var(--ice-cold-stare);
}

.footer__title {
	display: block;
	margin-bottom: 1.1rem;

	color: var(--color-white);
	font-weight: 600;
	text-transform: uppercase;

	@media (max-width: $break_xs) {
		max-width: 150px;
		font-size: 14px;
	}
}

.footer__menu {
	display: flex;
	flex-direction: column;

	@media screen and (max-width: $break_md) {
		display: block;
		columns: 2;
	}

	@media screen and (max-width: $break_sm) {
		columns: initial;
	}
}

.footer__item {


	&:not(:last-child) {
		margin-bottom: .5rem;
	}


}

.footer__link {
	color: var(--ice-cold-stare);
	transition: .25s;

	&:hover {
		padding-left: 8px;
	}
}

.footer__contacts {
	text-align: right;
	color: var(--color-white);

	@media screen and (max-width: $break_md) {
		text-align: left;
	}

	a {
		color: var(--color-white);
		text-decoration: none;
	}
}

.footer__phone {
	display: flex;
	flex-direction: column;

	margin-bottom: 3rem;

	@media screen and (max-width: $break_md) {
		margin-bottom: 1.5rem;
	}

	@media (max-width: $break_xs) {
		font-size: 14px;
		margin-top: -8px;
	}

	a {
		margin-bottom: .6rem;
	}
}

.footer__mail {
	margin-bottom: 6.2rem;

	@media screen and (max-width: $break_md) {
		margin-bottom: 2.5rem;
	}
}

.footer__info {

	@media (max-width: $break_xs) {
		margin-bottom: 2rem;
	}

	* {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

}

.footer__col--copy {
	display: none;
	order: 5;
	width: 100%;
	text-align: center;

	@media (max-width: $break_xs) {
		display: block;
	}

	.footer__copy {
		max-width: initial;


		@media (max-width: $break_xs) {
			padding-top: 18px;
			font-size: 12px;

			border-top: 1px solid #488CCC;
		}
	}
}