.products {}

.section-header__products {}

.products-slider {
    position: relative;

    .products-list {
        gap: 0;
    }

    .products-list__item {
        // max-width: calc(100% / 4 - 3 / 4 * var(--mainGap));
        // min-width: calc(100% / 4 - 3 / 4 * var(--mainGap));
        // max-width: calc(var(--heroMinCol) - 3 / 4 * var(--mainGap));
        // min-width: calc(var(--heroMinCol) - 3 / 4 * var(--mainGap));
        box-sizing: border-box;
    }
}

.products-list__next.swiper__next,
.products-list__prev.swiper__prev {
    top: -45px;
    right: 0;
    left: inherit;

    @media (max-width: $break_sm) {
        top: -35px;
    }
}
.products-list__prev.swiper__prev {
    right: 50px;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--mainGap);
}

.products-list__item {
    padding: 20px;

    background-color: var(--color-white);
    border-radius: var(--brs6);
    overflow: hidden;

    transition: box-shadow .25s;

    &:hover {
        box-shadow: 0px 0px 8px 0px var(--color-so-blue-berry);
    }

    .hero__promo & {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        max-width: 290px;
    }

    .hero__promo &:hover,
    .products-slider__box &:hover {
        box-shadow: inherit;
    }
}

.product-item {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 12px;

    border: 1px solid var(--color-border);

    .grid-line &, .grid-slim-line & {
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: $break_md) {
            flex-wrap: wrap;
            // justify-content: center;
        }
    }

    .grid-slim-line & {
        gap: 32px;

        @media (max-width: $break_md) {
            gap: 16px;
        }
    }
}

.product-item__head, .product-item__middle {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-item__middle {
    .grid-line & {
        max-width: 440px;

        @media (max-width: $break_md) {
            margin-top: 20px;
            max-width: 100%;
            width: 100%;
            order: 2;
        }

        @media (max-width: $break_xs) {
            max-width: 240px;
            order: 0;
        }
    }

    .grid-slim-line & {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        align-self: center;
        gap: 16px;
        // justify-content: center;
        max-width: 440px;

        @media (max-width: 1400px) {
            width: auto;
        }

        @media (max-width: $break_md) {
            width: calc(100% - 2 * 16px - 120px - 240px);
        }

        @media (max-width: 680px) {
            flex-grow: 1;
        }

        @media (max-width: $break_xs) {
            width: 100%;
        }
    }
}

.product-item__link {
}

.product-item__labels {}

.labels {
    position: absolute;
    // max-width: calc(100% - 62px);
    .grid-slim-line & {
        position: relative;
        display: inline-flex;
    }
}

.labels__item {
    display: inline-block;
    margin-bottom: 2px;
    padding: 5px 11px;

    font-size: 13px;
    font-weight: 500;

    border-radius: var(--brs6);
    overflow: hidden;

    &:not(:last-child) {
        margin-right: 5px;
    }
}

.labels__installment {
    background-color: var(--summer-daffodil);
}

.labels__popular {
    background-color: var(--reef-refractions);
}

.product-item__bookmark {}

.bookmark {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // position: absolute;
    // right: 10px;

    // width: 30px;
    // height: 30px;

    // border: 1px solid var(--color-border);
    // border-radius: 50%;

    svg {
        // display: block;
        // height: 15px;
        // width: 15px;
    }
}

.bookmark {
    &.isSent {
        color: var(--color-accent);
    }
}

.product-item__img {
    background-color: #fff;

    .grid-line & {
        max-width: 240px;
    }

    .grid-slim-line & {
        max-width: 120px;

        @media (max-width: $break_xs) {
            max-width: none;
        }
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        .hero-promo & {
            max-height: 132px;
        }

    }
}

.product-item__title {
    position: relative;
    overflow: hidden;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;

    max-height: calc(1.2em * 2);

    &::after {
        position: absolute;
        content: '';

        top: 0;
        right: 0;

        height: 100%;
        width: 80px;

        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        z-index: 10;

        .grid-slim-line & {
            display: none;
        }
    }
}

.product-item__info {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.2;

    .grid-slim-line & {
        display: none;
    }
}

.product-item__availability {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    color: var(--color-accent);

    .grid-line & {
        margin-bottom: 12px;
    }
}

.product-item__availability--true {
    color: var(--koopa-green-shell);

    svg {
        margin-top: -2px;

        width: 16px;
        height: 16px;
    }
}

.product-params {
    margin-bottom: 14px;

    .grid-line & {
        max-width: 325px;

        @media (max-width: $break_md) {
            max-width: 100%;
        }
    }
}

.product-params__item {
    display: flex;
    justify-content: space-between;

    .grid-line & {
        padding-top: 10px;
        padding-bottom: 10px;

        &:not(:last-child) {
            border-bottom: 1px solid #E4E4E4;
        }
    }

    &:not(:last-child) {
        margin-bottom: 14px;

        .grid-line & {
            margin-bottom: 0;
        }
    }

    .product-page & {
        margin-bottom: 17px;
    }
}

.product-params__name {
    margin-right: 10px;
    color: var(--more-than-a-week);
}

.product-params__value {
    text-align: right;
}

.product-item__footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .grid-slim-line & {
        flex-direction: row;
        align-items: center;
        gap: 24px;

        margin-left: auto;

        @media (max-width: 1400px) {
            justify-content: flex-end;
            align-content: center;
            gap: 8px;

            max-width: 240px;
        }

        @media (max-width: 680px) {
            width: 100%;
            max-width: 100%;
            justify-content: space-between;
        }

        @media (max-width: $break_xs) {
            justify-content: space-between;
        }
    }
}

.product-item__price {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 600;

    @media (max-width: 1500px) {
        font-size: 18px;
    }

    .grid-line & {
        margin-bottom: 22px;
    }

    .grid-slim-line & {
        margin-bottom: 0;
        gap: 10px;

        @media (max-width: 1400px)  {
            // width: 100%;
            justify-content: flex-end;
        }
    }

    .old-price {
        // position: absolute;
        // left: 0;
        // top: -20px;

        display: inline-flex;

        font-size: 14px;
        font-weight: 400;
        color: var(--more-than-a-week);
        text-decoration: line-through;

        @media (max-width: 1500px) {
            font-size: 12px;
        }
    }

    .discount {
        padding: 1px 4px;

        // position: absolute;
        // right: -15px;
        // top: -24px;

        display: inline-flex;

        font-size: 12px;
        font-weight: 600;
        color: var(--color-white);

        background-color: var(--color-accent);
        border-radius: 10px 0px 0px 10px;
    }
}

.product-item__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;

    .grid-line & {
        flex-direction: column;
    }

    svg {
        height: 20px;
        width: 23px;
    }
}

// .product-item__buy {
//     width: calc(100% - 86px);
// }

.buy {
    &.isSent {
        background-color: var(--color-main-active);
    }
}

.product-item__btn-box {
    display: flex;
    align-items: center;
    gap: 8px;

    .grid-line & {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .grid-slim-line & {
        display: none;
    }

    svg {
        height: 20px;
        width: 23px;
    }
}

.product-item__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    // padding: 8px 5px;
    padding-left: 5px;
    padding-right: 5px;

    height: 36px;

    font-size: 14px;

    border-radius: var(--brs6);
    border: 1px solid var(--color-border);
    cursor: pointer;

    transition: transform .25s;

    .grid-line & {
        height: 40px;
        min-width: 240px;
    }

    .product-item__btn-box & {
        width: 36px;
        min-width: initial;
    }

    &:hover {
        transform: translateY(-2px);
    }

}

.product-item__btn.buy {

    display: inline-flex;
    gap: 8px;
    width: calc(100% - 88px);
    min-width: 120px;

    color: var(--color-white);

    background-color: var(--color-main);
    border: 1px solid var(--color-main);

    &:hover {
        background-color: var(--color-main-active);
    }

    &.isSent {
        background-color: var(--color-main-active);
        border: 1px solid var(--color-main-active);
    }

    .grid-line & {
        min-width: 240px;
    }
}

.product-item__btn.credit {

    display: none;
    font-size: 14px;

    background-color: var(--summer-daffodil);
    border: 1px solid var(--summer-daffodil);

    // &:hover {
    //     background-color: var(--color-main-active);
    // }

    .grid-line & {
        display: inline-flex;
    }
}

.compare {
    color: var(--color-text);
}

.compare {
    &.isSent {
        color: var(--color-main);
        border: 1px solid var(--color-main);
    }
}

.products-inner {
    margin-bottom: 25px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--mainGap);

    @media (max-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: $break_md) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: $break_sm) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $break_xs) {
        grid-template-columns: 1fr;
    }

    .product-item {
        @media (max-width: $break_xs) {
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.grid-line, &.grid-slim-line {
        grid-template-columns: 1fr;
    }
}

.products-more {
    text-align: center;
}

.products-more__btn {
    display: inline-flex;
    padding: 0;

    font-size: 16px;
    color: var(--color-main);

    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-main);

    cursor: pointer;
    transition: transform .25s;

    &:hover {
        transform: translateY(-2px);
    }
}



.product-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 55px;

    .product-params__item {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 0;

        max-width: 570px;

        &:not(:last-child) {
            border-bottom: 1px solid #E4E4E4;
        }
    }

    .product-params__name {
        color: var(--color-text);
    }

    .product-params__value {
        color: var(--more-than-a-week);
    }
}
.product-page__main {
}
.product-main {
    width: calc(100% - 418px - 55px);

    @media (max-width: $break_md) {
        width: 100%;
    }
}
.product-main__box {
    margin-bottom: 58px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 85px;

    // width: 100%;
    // max-width: 100%;
}
.product-main__photo {
}
.product-photo {
    display: block;
    // width: 100%;
    // max-width: calc(100% - 326px - 85px);
    // flex-grow: 1;

    @media (max-width: $break_sm) {
        // width: 100%;
        // max-width: none;
    }
}

.product-photo__box {
    // display: block;
    // width: 100%;
    // overflow: hidden;

    position: relative;
}

.product-photo__slider {
}
.slider-photo {
    max-width: 600px;
    // width: 100%;
}

.slider-photo__item {
}
.slider-photo__img {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.product-photo__thumbs {
    max-width: 600px;
}
.slider-thumbs {
    // height: 70px;
}
.slider-thumbs__wrapper {
    // justify-content: center;
    // transform: initial !important;
}
.slider-thumbs__item {
}
.slider-thumbs__img {
    height: 70px !important;
    width: auto !important;

    border-radius: var(--brs6);
    border: 1px solid var(--color-border);
    overflow: hidden;

    &.swiper-slide-thumb-active {
        border: 1px solid var(--more-than-a-week);
    }
}
.product-main__info {
}
.product-info {
    max-width: 326px;
}
.product-info__item {
    font-size: 14px;

    &:not(:last-child) {
        padding-bottom: 26px;
    }

    a {
        color:var(--color-main);

        &.product-model__item {
            color: var(--color-text);
        }
    }


}
.product-info__title {
    margin-bottom: 18px;

    font-size: 16px;
    font-weight: 600;
}
.product-item__params {
}
.product-params {
}
.product-params__item {
    font-size: 14px;

    .tabs-descr__item & {
        padding-bottom: 0;
        border-bottom: 1px dashed #e4e4e4 !important;
    }
}
.product-params__name {
    .tabs-descr__item & {
        padding-top: 15px;
        padding-bottom: 10px;
        padding-right: 8px;
        margin-bottom: -10px;
        display: inline-flex;
        background-color: #fff;
    }
}
.product-params__value {
    .tabs-descr__item & {
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 8px;
        margin-bottom: -10px !important;
        display: inline-flex;
        background-color: #fff;
    }
}
.product-info__model {
}
.product-model {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}
.product-model__item {
    padding: 7px 14px;

    border-radius: var(--brs6);
    border: 1px solid var(--color-border);
    background-color: transparent;

    cursor: pointer;

    &.toggle {
        color: var(--color-main);
        border-color: var(--color-main);
    }
}
.product-main__tabs {
}
.product-tabs {
    width: 100%;
}
.product-tabs__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 0 35px;

    border-bottom: 3px solid #D9D9D9;
}
.product-tabs__btn {
    position: relative;

    padding-top: 12px;
    padding-bottom: 12px;

    color: var(--more-than-a-week);

    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;

        height: 3px;
    }

    &.toggle {
        color: var(--color-main);

        &::after {
            background-color: var(--color-main);
        }
    }
}
.product-tabs__descrs {
}
.product-tabs__descr {
}
.product-page__aside {
}
.product-aside {
    display: flex;
    flex-direction: column;
    gap: 10px;

    // min-width: 418px;
    // width: 418px;
    max-width: 418px;
    width: 100%;

    @media (max-width: $break_xs) {
        min-width: auto;
    }
}
.product-aside__block {
}
.product-block {
    padding: 27px 30px;

    font-size: 15px;

    border: 1px solid var(--color-border);
    border-radius: var(--brs6);
    overflow: hidden;

    & p {
        margin-bottom: 10px;
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color:var(--color-main);
    }

    span {
        color:var(--color-accent);
    }

    .product-item__availability {
        margin-bottom: 17px;
    }

    .product-item__price {
        margin-bottom: 26px;
        align-items: baseline;
        font-size: 30px;
    }

    .discount {
        padding: 2px 4px;
        font-size: 14px;
    }

    .product-item__btn {
        width: auto;
        gap: 8px;

        padding-left: 8px;
        padding-right: 8px;
    }

    .product-item__btn-box {
        padding-top: 18px;
    }

    .buy {
        width: 100%;
        height: 45px;

        & span {
            color: #fff;
        }
    }

    .credit {
        display: inline-flex;

        width: 100%;
        height: 45px;

        span {
            color: var(--color-text);
        }
    }



    &.advantages {
        background-color: var(--color-bg-page);
        margin-bottom: 0;
    }
    .advantages__list {
        flex-direction: column;
    }
    .advantages__item {
        padding: 0;
        min-height: auto;

        background-color: transparent;
    }
    .advantages__icon {
        width: 26px;
        height: 26px;
    }
    .advantages__title {
        font-size: 15px;
        font-weight: 500;
    }
}
.product-block__title {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-bottom: 12px;

    font-size: 16px;
    font-weight: 600;

    svg {
        height: 32px;
        width: 32px;

        color: var(--color-accent);
    }
}
