.selection-help {
    padding: 34px 15px;
    background-image: url('../img/bg-selection-help.jpg');
    background-size: cover;
    background-position: center;

    border: 1px solid var(--color-border);
    border-radius: var(--brs6);
    overflow: hidden;

    @media (max-width: $break_lg) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.selection-help__title {
    margin-top: 0;
    margin-bottom: 15px;

    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;

    @media (max-width: $break_lg) {
        font-size: 16px;
    }
}

.selection-help__descr {
    margin-bottom: 20px;

    font-size: 15px;

    @media (max-width: $break_lg) {
        font-size: 13px;
    }
}

.selection-help__phone {
    display: block;

    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;

    @media (max-width: $break_lg) {
        font-size: 15px;
    }

    &:not(:last-child) {
        margin-bottom: 12px;
    }
}