.shop-icons {
	// position: absolute;
	// bottom: 0;
	// left: 30px;
	// right: 30px;

	padding-top: 20px;
	padding-bottom: 20px;

	// width: 100%;

	margin-left: auto;
	display: inline-flex;
	align-items: center;
	gap: 48px;

	@media (max-width: 1500px) {
		gap: 25px;
	}

	@media (max-width: 600px) {
		display: flex;
		justify-content: space-between;
	}
}

.shop-icons__link, .shop-icons a {
	position: relative;
	font-size: 0;
	z-index: 2;



	// .icon {
	// 	height: 25px;
	// 	width: 25px;
	// 	// width: auto;
	// 	display: inline-flex;
	// }

	// &.disable {
	// 	.shop-icons__label {
	// 		color: #8D8D8D;
	// 		background-color: var(--color-bg-page);
	// 	}
	// }

	// &::after {
	// 	position: absolute;
	// 	content: '';
	// 	height: 44px;
	// 	width: 44px;
	// 	border: 1px solid #fff;
	// 	border-radius: var(--brs6);

	// 	// z-index: -1;

	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// }
}

.shop-icons a {
	&:hover {
		&::after {
			// border: 1px solid var(--color-main);
			box-shadow: 0px 0px 0px 2px var(--color-main);
		}
	}
}

.shop-icons__link .icon, .shop-icons a svg {
	height: 25px;
	width: 25px;
	// width: auto;
	display: inline-flex;
}

.shop-icons__link.disable .shop-icons__label, .shop-icons a.disable span {
	color: #8D8D8D;
	background-color: var(--color-bg-page);
}

.shop-icons__link::after, .shop-icons a::after {
	position: absolute;
	content: '';
	height: 44px;
	width: 44px;
	border: 1px solid var(--color-border);
	border-radius: 50%;

	// z-index: -1;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition: .25s;

	@media (max-width: 600px) {
		border: 1px solid transparent;
	}
}

.shop-icons__label, .shop-icons a span {
	position: absolute;
	top: -10px;
	right: -8px;
	z-index: 3;

	padding-left: 2px;
	padding-right: 2px;

	height: 17px;
	min-width: 17px;

	border-radius: 17px;

	font-size: 11px;
	line-height: 17px;
	text-align: center;

	color: var(--color-white);
	background-color: var(--color-main);

	@media (max-width: 600px) {
		background-color: var(--color-accent);
	}
}