.top-menu {
    display: flex;

    @media (max-width: $break_md) {
        display: flex;
        flex-direction: column;
    }
}

// .top-menu__item {}

.top-menu__link {
    padding: 14px 20px;
    transition: .25s;

    @media (max-width: $break_lg) {
        padding: 14px 10px;
    }

    @media (max-width: $break_md) {
        display: block;
        padding: 10px 0;

        font-size: 15px;
        text-transform: uppercase;
    }

    &:hover {
        background-color: rgba(#000, .2);
    }
}