.advantages
	ul.advantages__list
		li.advantages__item
			img(src="img/advantages/01.svg", alt="").advantages__icon
			.advantages__title Персональные скидки
		li.advantages__item
			img(src="img/advantages/02.svg", alt="").advantages__icon
			.advantages__title Доставка по всей России
		li.advantages__item
			img(src="img/advantages/03.svg", alt="").advantages__icon
			.advantages__title Официальная гарантия

