section.banner
	.container.banner__container
		.banner__inner
			.banner__box
				h2.banner__header Бесплатная доставка по&nbsp;Ростову-на-дону
				p.banner__descr При заказе от 10 000 руб. Доставка по&nbsp;Ростовской области - 25 руб/км
			img(src="img/banners/bg-banner-01.jpg", alt="").banner__img