//- Порядок параметров:
//- title,
//- src,
//- price,
//- oldprice,
//- discount,
//- nalichie,
//- populyarno,
//- rassrochka,
//- izbranno,
//- vkorzine,
//- sravnenie

.products-inner
	//- .products-list__wrapper.swiper-wrapper
	+productItemNoSlide(
		'Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z',
		'01.jpg',
		'16 400 ₽',
		'',
		'',
		'1',
		'1',
		'1',
		'0',
		'1',
		'1',
	)

	+productItemNoSlide(
		'Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z',
		'02.jpg',
		'757 500 ₽',
		'859 500 ₽',
		'-24%',
		'0',
		'0',
		'0',
		'1',
		'0',
		'0',
	)

	+productItemNoSlide(
		'Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z',
		'03.jpg',
		'57 500 ₽',
		'',
		'',
		'1',
		'1',
		'0',
		'0',
		'0',
		'0',
	)

	+productItemNoSlide(
		'Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z',
		'04.jpg',
		'67 900 ₽',
		'',
		'',
		'1',
		'0',
		'1',
		'0',
		'0',
		'0',
	)

	+productItemNoSlide(
		'Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z',
		'02.jpg',
		'22 400 ₽',
		'',
		'',
		'1',
		'0',
		'0',
		'0',
		'1',
		'0',
	)

