.catalog
    include ../includes/filter
    .catalog__content
        include ../includes/collections
        include ../includes/request
        include ../includes/page-settings

        include ../includes/catalog-list-products