.collections
    a(href="#") до 10 м²
    a(href="#") до 15 м²
    a(href="#") до 20 м²
    a(href="#") для больших помещений
    a(href="#") недорогие
    a(href="#") премиальные
    a(href="#") инверторные