.contacts
    .contacts__col.contacts-col.contacts__col--shop
        h2.contacts-col__title Магазин «Мир климата»
        .contacts-col__box
            p
                b Адрес:
            p Ростовская область, г. Аксай, пр. Аксайский, д. 21 в ТЦ «Мир ремонта» ХДМ-ЮГ
        .contacts-col__box
            p
                b Телефон и E-mail
            ul
                li
                    a(href="tel:+78633008300") +7 (863) 300-8-300
                li
                    a(href="tel:+79613300030") +7 (961) 330-00-30
                li
                    a(href="mailto:sale@mirklimata-rostov.ru") sale@mirklimata-rostov.ru
        .contacts-col__box
            p
                b Режим работы
            p Пн по Вск: с 9-00 до 21-00


    .contacts__col.contacts-col.contacts__col--point
        h2.contacts-col__title Пункт выдачи «Мир климата»
        .contacts-col__box
            p
                b Адрес:
            p г. Ростов-на-Дону, ул. Механизаторов, д. 4А
        .contacts-col__box
            p
                b Телефон
            ul
                li
                    a(href="tel:+78632908728") +7 (863) 290-87-28
                li
                    a(href="tel:+79613300010") +7 (961) 330-00-10
        .contacts-col__box
            p
                b Режим работы
            p Пн по Пт: с 9-00 до 17-00