//- +checkbox('', '')

mixin checkbox(title, count)
	label.filter__label
		input(type="checkbox").filter__checkbox
		span.filter__checkbox-title #{title}
		span.js-element-count (#{count})

.catalog__filter.filter
	//- button(type='button' disabled).btn.filter__btn.filter__btn-toggle.burger__menu-btn.js-burger
	button(type='button' data-da="page-settings,0,1200").btn.filter__btn.filter__btn-toggle.burger__menu-btn.js-burger.jsFilterToggle
		span
		| Фильтр подбора


	form.filter__form



		fieldset.filter__fieldset
			legend.filter__legend Цена
			.range
				.range__values
					input.filter__input-text.range__input.range__input--min(type="text" data-value="15490" placeholder="от 15490")
					input.filter__input-text.range__input.range__input--max(type="text" data-value="775300" placeholder="до 775300")
				.range__slider-wrapper
					.range__slider

		fieldset.filter__fieldset
			legend.filter__legend Мощность

			.filter__box-checkbox
				+checkbox('15 м² - 1,5 кВТ', '1174')
				+checkbox('20 м² - 2 кВТ', '254')
				+checkbox('25 м² - 2,5 кВТ', '3')
				+checkbox('30 м² - 3,0 кВТ', '11')
				+checkbox('45 м² - 4,5 кВт', '226')
				+checkbox('50 м² - 5,0 кВт', '25')
				+checkbox('60 м² - 6,0 кВт', '176')
				+checkbox('70 м² - 7,0 кВт', '20')
				+checkbox('80 м² - 8,0 кВт', '18')
				+checkbox('90 м² - 9,0 кВт', '20')
				+checkbox('100 м² - 10,0 кВт', '2')
				+checkbox('110 м² - 11,0 кВт', '1')
				+checkbox('до 10,0 кВт', '15')

		fieldset.filter__fieldset
			legend.filter__legend Бренд
			//- .filter__box-checkbox(ss-container)
			.filter__box-checkbox
				+checkbox('Aero', '23')
				+checkbox('Aeronik', '31')
				+checkbox('AirGreen', '54')
				+checkbox('Axioma', '41')
				+checkbox('Ballu', '45')
				+checkbox('Berlingtoun', '31')
				+checkbox('Bosch', '76')
				+checkbox('Centek', '43')
				+checkbox('Cherbrooke', '78')
				+checkbox('Daichi', '21')
				+checkbox('Daikin', '9')
				+checkbox('EcoStar', '42')
				+checkbox('Electrolux', '27')
				+checkbox('Fujitsu', '1')
				+checkbox('Funai', '1')
				+checkbox('Gree', '1')
				+checkbox('Green', '1')
				+checkbox('Haier', '1')
				+checkbox('HEC', '1')
				+checkbox('Hisense', '1')
				+checkbox('Hitachi', '1')
				+checkbox('JAX', '1')
				+checkbox('Kentatsu', '1')
				+checkbox('Lessar', '1')
				+checkbox('LG', '1')
				+checkbox('MDV', '1')
				+checkbox('Midea', '1')
				+checkbox('Mitsubishi', '1')

		fieldset.filter__fieldset
			legend.filter__legend Компрессор
			.filter__box-checkbox
				+checkbox('Инвертор', '1')
				+checkbox('Не инвертор', '0')

		fieldset.filter__fieldset
			legend.filter__legend Wi-Fi управление
			.filter__box-checkbox
				+checkbox('В комплекте', '1')
				+checkbox('Опционально', '1')

		fieldset.filter__fieldset
			legend.filter__legend Режим работы
			.filter__box-checkbox
				+checkbox('Охлаждение / Обогрев', '1')
				+checkbox('Только охлаждение', '1')

		fieldset.filter__fieldset
			legend.filter__legend Класс энергоэффективности
			.filter__box-checkbox
				+checkbox('А', '1')
				+checkbox('А+', '1')
				+checkbox('А++', '1')
				+checkbox('А+++', '1')

		fieldset.filter__fieldset
			legend.filter__legend Цвет
			.filter__box-checkbox
				+checkbox('Белый', '1')
				+checkbox('Серый', '1')
				+checkbox('Черный', '1')

		fieldset.filter__fieldset
			legend.filter__legend Страна сборки
			.filter__box-checkbox
				+checkbox('Китай', '1')
				+checkbox('Таиланд', '1')
				+checkbox('Малайзия', '1')
				+checkbox('Турция', '1')
				+checkbox('Чехия', '1')
				+checkbox('Япония', '1')

		button(type="submit").btn.filter__btn Применить
		button(type="reset").btn.btn--light.filter__btn.filter__btn-reset Сбросить все