footer.footer
	.container.footer__container
		.footer__row
			.footer__col.footer__col--logo
				a(href="/").footer__logo
					img(src="img/logo-footer.png", alt="")
				.footer__copy Мир Климата © 2021. Все права защищены
			.footer__col.footer__col--menu
				.footer__title Интернет-магазин
				ul.footer__menu
					li.footer__item
						a(href="#").footer__link Каталог
					li.footer__item
						a(href="#").footer__link Оплата
					li.footer__item
						a(href="#").footer__link Доставка
					li.footer__item
						a(href="#").footer__link Гарантия
					li.footer__item
						a(href="#").footer__link Кредит и рассрочка
					li.footer__item
						a(href="#").footer__link Бренды
					li.footer__item
						a(href="#").footer__link Контакты
			.footer__col.footer__col--menu
				.footer__title помощь покупателю
				ul.footer__menu
					li.footer__item
						a(href="#").footer__link Монтаж
					li.footer__item
						a(href="#").footer__link Реквизиты
					li.footer__item
						a(href="#").footer__link Оферта
					li.footer__item
						a(href="#").footer__link Конфиденциальность
					li.footer__item
						a(href="#").footer__link Обмен и возврат
					li.footer__item
						a(href="#").footer__link Действия при поломке
					li.footer__item
						a(href="#").footer__link О компании

			.footer__col.footer__col--contacts
				.footer__contacts
					.footer__phone
						a(href="tel:+79613300030") +7 (961) 330-00-30
						a(href="tel:+78633008300") +7 (863) 300-8-300
					.footer__mail
						a(href="mailto:sale@mirklimata-rostov.ru") sale@mirklimata-rostov.ru
					.footer__info
						p c 9:00 до 21:00 МСК, ежедневно