form(action="#" method="post").help__form.form

	.form__title Форма обратного звонка
	.form__subtitle Оставьте свои контакты и наш менеджер свяжется с вами в ближайшее время

	.input-wrapper
		input#email.form__email(type='text' name='name' placeholder='Ваше имя')

	//- .input-wrapper
		input#email.form__email(type='email' name='email' placeholder='E-mail')

	.input-wrapper
		input#phone.form__phone(type='tel' name='phone' placeholder='Телефон')

	.input-wrapper
		textarea#message(name='message' placeholder='Напишите ваш вопрос').form__message

	button.form__btn.btn.btn--accent.btn--grren(type='submit') Отправить заявку

	.input-wrapper.agreement
		label(for='agreement').agreement__label
			input#agreement.form__agreement(name='agreement' type='checkbox' required='' checked='')
			| Нажимая на кнопку вы соглашаетесь с нашей&nbsp;
			a(href='#') политикой конфиденциальности


			//- политикой конфиденциальности