section.main-columns.main__home
	.container.main-columns__container
		aside.main-columns__aside
			include catalog-menu-box-aside
			include selection-help
		.main-columns__content
			include advantages
			include products