.mobile-menu
    .mobile-menu__wrapper
        .mobile-menu__search
        .mobile-menu__title.catalog Каталог
        .mobile-menu__catalog
        .mobile-menu__title.menu Меню
        .mobile-menu__menu
    //- .mobile-menu__contacts
    .mobile-menu__btns