.montage
    .montage__container.container
        .montage__content.content
            h1.section-header Монтаж сплит систем

            .accordeon
                .accordeon__item.accordeon-item
                    .accordeon-item__title Физическим лицам
                    .accordeon-item__descr Индивидуальная цена монтажа сплит системы зависит от модели, её конструктивных особенностей, габаритов и массы. Стоимость монтажа определяется с учётом фактической протяжённости межблочных коммуникаций, количества штроб, количества отверстий в стенах и перекрытиях, способа устройства коммуникаций. При монтаже сплит систем мы используем только высококачественные материалы и комплектующие, что обеспечит полную безопасность при эксплуатации.
                .accordeon__item.accordeon-item
                    .accordeon-item__title Юридическим лицам
                    .accordeon-item__descr 222 Индивидуальная цена монтажа сплит системы зависит от модели, её конструктивных особенностей, габаритов и массы. Стоимость монтажа определяется с учётом фактической протяжённости межблочных коммуникаций, количества штроб, количества отверстий в стенах и перекрытиях, способа устройства коммуникаций. При монтаже сплит систем мы используем только высококачественные материалы и комплектующие, что обеспечит полную безопасность при эксплуатации.

            h2 Выберите вид монтажа
            .accordeon

                .accordeon__item.accordeon-item
                    .accordeon-item__title Стандартный монтаж сплит системы настенного типа
                    .accordeon-item__descr
                        .table-wrapper
                            table.table
                                tr
                                    td Производительность сплит системы до 4 кВт (07, 09, 12*)
                                    td компл.
                                    td
                                        b 4 000 руб
                                tr
                                    td Производительность сплит системы до 4 кВт (07, 09, 12*)
                                    td компл.
                                    td
                                        b 4 000 руб
                                tr
                                    td Производительность сплит системы до 4 кВт (07, 09, 12*)
                                    td компл.
                                    td
                                        b 4 000 руб
                                tr
                                    td Производительность сплит системы до 4 кВт (07, 09, 12*)
                                    td компл.
                                    td
                                        b 4 000 руб

                        h2 Стандартный монтаж сплит системы включает в себя:
                        ul
                            li межблочная трасса до 2-х метров;
                            li кронштейны для наружного блока;
                            li пробивка одного отверстия в стене толщиной не более 0,8 м.;
                            li монтаж внутреннего блока;
                            li монтаж наружного блока без услуг промышленного альпиниста и автовышки;
                            li подключение к источнику электропитания на расстоянии до 2-х м.;
                            li вакуумирование системы, пусконаладочные работы.

                .accordeon__item.accordeon-item
                    .accordeon-item__title Монтаж сплит системы настенного типа (без стоимости материалов)
                    .accordeon-item__descr
                        p Монтаж сплит системы настенного типа (без стоимости материалов)

                .accordeon__item.accordeon-item
                    .accordeon-item__title Монтаж сплит системы настенного типа в 2 этапа (без стоимости материалов)
                    .accordeon-item__descr
                        p Монтаж сплит системы настенного типа в 2 этапа (без стоимости материалов)

                .accordeon__item.accordeon-item
                    .accordeon-item__title Демонтаж сплит системы настенного типа
                    .accordeon-item__descr
                        p Демонтаж сплит системы настенного типа

                .accordeon__item.accordeon-item
                    .accordeon-item__title Демонтаж одного из блоков сплит системы настенного типа
                    .accordeon-item__descr
                        p Демонтаж одного из блоков сплит системы настенного типа







        aside.montage__aside
            .montage__baner.montage-baner(style="background-image: url('../img/montage/baner.jpg');")
                .montage-baner__box
                    .montage-baner__title Узнайте точную стоимость монтажа
                    .montage-baner__info
                        p Наши специалисты на связи и проконсультируют вас по всем вопросам
                        a(href="tel:+79613300030").montage-baner__phone +7 (961) 330-00-30
                        a(href="#").btn.montage-baner__btn Оставить заявку

