.page-settings
    .page-settings__sort.page-sort
        .page-sort__current.toggle
            .title Цена ниже
            .icon
                svg
                    use(xlink:href='img/sprite.svg#arrow')
        //- .page-sort__variants.toggle
        .page-sort__variants
            .variants-item.toggle Цена ниже
            .variants-item Цена выше
            .variants-item Хиты продаж
            .variants-item Новинки
            .variants-item В наличии



    .page-settings__count.page-count
        .page-count__item.toggle 12
        .page-count__item 24
        .page-count__item 36

    .page-settings__view.page-view
        .page-view__item.toggle
            svg.icon.page-view__icon
                use(xlink:href='img/sprite.svg#psv-01')
        .page-view__item
            svg.icon.page-view__icon
                use(xlink:href='img/sprite.svg#psv-02')
        .page-view__item
            svg.icon.page-view__icon
                use(xlink:href='img/sprite.svg#psv-03')