.products
    h2.section-header.section-header__products Хиты продаж

    include products-hero-slider

    //- .products__list.products-list

        .products-list__item.product-item
            a(href="#").product-item__link

                .product-item__labels.labels
                    .labels__item.labels__popular Популярно
                    .labels__item.labels__installment Рассрочка

                .product-item__bookmark.bookmark
                    .component-catalog-actions-bookmark(title="Добавить в избранное")
                        svg
                            use(xlink:href='img/sprite.svg#shop-favourites')

                .product-item__img
                    img(src="img/products/01.jpg", alt="")

                .product-item__title Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z

                .product-item__info
                    .product-item__availability.product-item__availability--true
                        svg
                            use(xlink:href='img/sprite.svg#shop-in-stock')
                        | В наличии
                    .product-item__params.params
                        span.params__name Площадь:
                        span.params__value 20 м²
                    .product-item__params.params
                        span.params__name Инвертор:
                        span.params__value Да

                .product-item__footer
                    .product-item__price 16 400 ₽
                    .product-item__actions
                        .product-item__buy.buy
                            .product-item__btn.component-catalog-actions-buy
                                svg
                                    use(xlink:href='img/sprite.svg#shop-cart')
                        .product-item__compare.compare
                            .product-item__btn.component-catalog-actions-compare
                                svg
                                    use(xlink:href='img/sprite.svg#shop-compare')

        .products-list__item.product-item
            a(href="#").product-item__link

                .product-item__labels.labels
                    .labels__item.labels__installment Рассрочка

                .product-item__bookmark.bookmark
                    .component-catalog-actions-bookmark.isSent(title="Удалить из избранного")
                        svg
                            use(xlink:href='img/sprite.svg#shop-favourites-fill')


                .product-item__img
                    img(src="img/products/02.jpg", alt="")

                .product-item__title Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z

                .product-item__info
                    .product-item__availability Под заказ
                    .product-item__params.params
                        span.params__name Площадь:
                        span.params__value 20 м²
                    .product-item__params.params
                        span.params__name Инвертор:
                        span.params__value Да

                .product-item__footer
                    .product-item__price
                        | 757 500 ₽
                        span.old-price 859 500 ₽
                        span.discount -24%
                    .product-item__actions
                        .product-item__buy.buy
                            .product-item__btn.component-catalog-actions-buy.isSent
                                svg
                                    use(xlink:href='img/sprite.svg#check')
                        .product-item__compare.compare
                            .product-item__btn.component-catalog-actions-compare.isSent
                                svg
                                    use(xlink:href='img/sprite.svg#shop-compare')

        .products-list__item.product-item
            a(href="#").product-item__link

                .product-item__labels.labels
                    .labels__item.labels__installment Рассрочка

                .product-item__bookmark.bookmark
                    .component-catalog-actions-bookmark.isSent(title="Удалить из избранного")
                        svg
                            use(xlink:href='img/sprite.svg#shop-favourites-fill')


                .product-item__img
                    img(src="img/products/03.jpg", alt="")

                .product-item__title Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z

                .product-item__info
                    .product-item__availability Под заказ
                    .product-item__params.params
                        span.params__name Площадь:
                        span.params__value 20 м²
                    .product-item__params.params
                        span.params__name Инвертор:
                        span.params__value Да

                .product-item__footer
                    .product-item__price
                        | 57 500 ₽
                        span.old-price 59 500 ₽
                        span.discount -24%
                    .product-item__actions
                        .product-item__buy.buy
                            .product-item__btn.component-catalog-actions-buy.isSent
                                svg
                                    use(xlink:href='img/sprite.svg#check')
                        .product-item__compare.compare
                            .product-item__btn.component-catalog-actions-compare.isSent
                                svg
                                    use(xlink:href='img/sprite.svg#shop-compare')

        .products-list__item.product-item
            a(href="#").product-item__link

                .product-item__labels.labels
                    .labels__item.labels__installment Рассрочка

                .product-item__bookmark.bookmark
                    .component-catalog-actions-bookmark.isSent(title="Удалить из избранного")
                        svg
                            use(xlink:href='img/sprite.svg#shop-favourites-fill')


                .product-item__img
                    img(src="img/products/04.jpg", alt="")

                .product-item__title Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z

                .product-item__info
                    .product-item__availability Под заказ
                    .product-item__params.params
                        span.params__name Площадь:
                        span.params__value 20 м²
                    .product-item__params.params
                        span.params__name Инвертор:
                        span.params__value Да

                .product-item__footer
                    .product-item__price
                        | 67 900 ₽
                        span.old-price 59 500 ₽
                        span.discount -24%
                    .product-item__actions
                        .product-item__buy.buy
                            .product-item__btn.component-catalog-actions-buy.isSent
                                svg
                                    use(xlink:href='img/sprite.svg#check')
                        .product-item__compare.compare
                            .product-item__btn.component-catalog-actions-compare.isSent
                                svg
                                    use(xlink:href='img/sprite.svg#shop-compare')

