//- Порядок параметров:
//- title,
//- src,
//- price,
//- oldprice,
//- discount,
//- nalichie,
//- populyarno,
//- rassrochka,
//- izbranno,
//- vkorzine,
//- sravnenie

.recommended-products
    .container.recommended-products__container
        h2.section-header.section-header__recommended-products Рекомендуем посмотреть

        .recommended-products-slider
            .recommended-products-slider__box.jsRecommendedProductsSlider.swiper
                .recommended-products__list.recommended-products-list.swiper-wrapper
                    //- .products-list__wrapper.swiper-wrapper
                    +productItem(
                        'Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z',
                        '01.jpg',
                        '16 400 ₽',
                        '',
                        '',
                        '1',
                        '1',
                        '1',
                        '0',
                        '1',
                        '1',
                    )

                    +productItem(
                        'Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z',
                        '02.jpg',
                        '757 500 ₽',
                        '859 500 ₽',
                        '-24%',
                        '0',
                        '0',
                        '0',
                        '1',
                        '0',
                        '0',
                    )

                    +productItem(
                        'Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z',
                        '03.jpg',
                        '57 500 ₽',
                        '',
                        '',
                        '1',
                        '1',
                        '0',
                        '0',
                        '0',
                        '0',
                    )

                    +productItem(
                        'Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z',
                        '04.jpg',
                        '67 900 ₽',
                        '',
                        '',
                        '1',
                        '0',
                        '1',
                        '0',
                        '0',
                        '0',
                    )

                    +productItem(
                        'Сплит система Mitsubishi Heavy SRK20ZSPR-S SRC20Z',
                        '02.jpg',
                        '22 400 ₽',
                        '',
                        '',
                        '1',
                        '0',
                        '0',
                        '0',
                        '1',
                        '0',
                    )

            .recommended-products__next.swiper__next
            .recommended-products__prev.swiper__prev