//- .search.active
.header-box__search.search(data-da="mobile-menu__search,1,992")
	//- .container.search__container
	//- .search__box
	form.search-form( action="/search" method="GET")
		input.search-field(type="search" name="search" placeholder="Кондиционер")
		button.btn-search(type="submit" aria-label="Найти")
				//- button.search-close(type="button" aria-label="Закрыть панель поиска")
				//- input.btn.search-submit(type="submit" class="btn search-submit" value="Искать")
				//- .close-search



