.selection-help
	.selection-help__title Поможем в подборе климатического оборудования
	p.selection-help__descr Наши специалисты на связи и проконсультируют вас по всем вопросам
	a(href="tel:+79613300030").selection-help__phone +7 (961) 330-00-30
	a(href="tel:+78633008300").selection-help__phone +7 (863) 300-8-300