.header-box__shop-icons.shop-icons(data-da="mobile-menu__btns,1,600")
	a(href="#" title="Вход").shop-icons__link
		svg.icon
			use(xlink:href='img/sprite.svg#shop-login')
	a(href="#" title="Просмотрено").shop-icons__link.disable
		svg.icon
			use(xlink:href='img/sprite.svg#shop-view')
		span.shop-icons__label 0
	a(href="#" title="Сравнение").shop-icons__link.disable
		svg.icon
			use(xlink:href='img/sprite.svg#shop-compare')
		span.shop-icons__label 0
	a(href="#" title="Избранное").shop-icons__link.disable
		svg.icon
			use(xlink:href='img/sprite.svg#shop-favourites')
		span.shop-icons__label 0
	a(href="#" title="Корзина").shop-icons__link
		svg.icon
			use(xlink:href='img/sprite.svg#shop-cart')
		span.shop-icons__label 27