//- Идея - когда прокрутили до белой части шапки сайта, зафиксировать белую часть вверху

//- Все характеристики - на странице товара по щелчку на ссылку перейти на эту вкладку

//- Важно!!! Если чистим папку dist, то после запуска сборщика нужно скопировать src/img/sprite.svg в dist/img/sprite.svg . Сборщик портит данный файл и спрайт некорректно отображается на сверстанной странице. Надо будет работу со спрайтами пофиксить.

include ../includes/mixins

//- Для pageType указать тип страницы
- var pageType = 'catalog';

//- home - главная страница
if pageType === 'home'
	include home

//- catalog - Каталог товаров
if pageType === 'catalog'
	include catalog

//- catalog - Страница отдельного товара
if pageType === 'product-page'
	include product-page

//- contacts - контакты
if pageType === 'contacts'
	include contacts

//- montage - Монтаж сплит систем
if pageType === 'montage'
	include montage

//- product-page
//- contacts
//- montage

//- index - для показа верстки
if pageType === 'index'
	include verstka



