//- Идея - когда прокрутили до белой части шапки сайта, зафиксировать белую часть вверху

//- инициализация noUiSlider для клона фильтра
//- адаптив каталога
//- переключение вида отображения товаров


//- Важно!!! Если чистим папку dist, то после запуска сборщика нужно скопировать src/img/sprite.svg в dist/img/sprite.svg . Сборщик портит данный файл и спрайт некорректно отображается на сверстанной странице. Надо будет работу со спрайтами пофиксить.

include ../includes/mixins

//- Для pageType указать тип страницы
- var pageType = 'catalog';


//- home - главная страница
if pageType === 'home'
	include home

//- catalog - Каталог товаров
if pageType === 'catalog'
	include catalog

//- catalog


//- index - для показа верстки
if pageType === 'index'
	include verstka



