include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        include ../includes/preloader
        include ../includes/header
        main
            include ../includes/breadcrumbs

            include ../includes/montage

        //- include ../includes/contacts-map

        //- include ../includes/recommended-products-slider

        include ../includes/footer
        include ../includes/mobile-menu

